<h1>All Posts</h1>

<% if Post.none? %>
    <p>There are no posts yet...</p>
    <% if user_signed_in? %>
        <p>Create one <%= link_to "HERE", new_post_path %></p>
    <% else %>
        <p><%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %> to create one! </p>
    <% end %>
<% end %>

<ul>
    <% Post.all.reverse.each do |post| %>
        <li>
            <h2><%= post.title %></h2>
            <%= post.body %>
            <% if user_signed_in? %>
                <p> Created by: <%= post.user.username %> on <%= post.created_at.strftime("%d/%m/%Y") %> at <%= post.created_at.strftime("%T%:z") %> </p>
            <% else %>
                <p> Created on <%= post.created_at.strftime("%d/%m/%Y") %> at <%= post.created_at.strftime("%T%:z") %> </p>
                <% end %>
        </li><br />
    <% end %>
</ul>